.section-contact{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: $color-bg-light;

    .contact{
        width: auto;
        margin: 20px;

        h1{
            font-family: $font-extra;
            font-size: 32px;

            @include max-breakpoint ($point1){
                font-size: 24px;
            }
        }
        .contact_arrow{
            position: absolute;
            width: 9vw;
            left: 80px;
            top: 60px;

            @include max-breakpoint($point3){
                left: 30px;
                top: 40px;
            }
        }

        .contact_list{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            margin: 40px auto;
            width: 80%;
            
            @include max-breakpoint ($point3){
                flex-direction: column;
                width: 100%;
            }

            &--email, &--github, &--linkedin{
                display: flex;
                justify-content: center;
                flex-direction: column;

                @include max-breakpoint ($point3){
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;
                    position: relative;
                }

                .logo{
                    display: flex;
                    justify-content: center;

                    @include max-breakpoint($point3){
                        margin-right: 10vw;
                    }
                    
                    img{
                        width: 100%;
                        max-width: 8vw;
                        filter: none;
                        transition: filter 200ms ease-in-out;
                        
                        &:hover{
                            filter: grayscale(1);
                        }

                        @include max-breakpoint($point3){
                            max-width: unset;
                            width: 40px;
                            height: auto;
                        }
                    }
                }

                h2{
                    text-align: center;
                    padding: 15px 0;
                    font-size: 24px;

                    @include max-breakpoint ($point1){
                        font-size: 18px;
                        width: 100%;
                    }
                    @include max-breakpoint ($point4){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}