.header {
  width: auto;
  height: 80px;
  border: 0;
  outline: 0;
  z-index: 100;
  background-color: $main-color-light;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  @include max-breakpoint(1000px){
    height: 60px;
  }
  @include max-breakpoint($point1) {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
  }

  > .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    z-index: auto;
    position: relative;
    @include max-breakpoint($point0 + 34px) {
      padding: 0 0;
      margin: 0px auto;
      overflow: visible;
    }
  }
  nav {
    display: block;
    box-sizing: border-box;
    text-align: right;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;

    @include max-breakpoint(1000px){
      height: 60px;
    }
    @include max-breakpoint($point1) {
      margin-top: 60px;
      margin-right: 0;
      position: absolute;
      width: 100%;
      padding-right: 0px;
      top: 0;
      right: 0;
      height: 0;
    }
    ul {
      height: 80px;
      max-height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      @include max-breakpoint(1000px){
        height: 60px;
      }
      @include max-breakpoint($point1) {
        padding-right: 0;
        flex-direction: column;
        margin-top: -250px;
        position: absolute;
        right: 0;
        width: 50%;
      }
    }
    &.__js_isActive ul {
      height: auto;
      max-height: 80vh;
      transition: max-height 520ms ease;
      background-color: $main-color;
      overflow: visible;
	    margin-top: 0px;
      width: 50%;
      right: 0;
      border-top: 5px solid $main-color-light;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;

      @media (max-height: 650px) {
        max-height: 100vh;        
      }
      @include max-breakpoint($point1) {
        li {
          float: none;
          text-align: center;
          margin-right: 0;
          width: 100%;
          border-radius: unset;
          // background-color: unset;

          &:first-of-type{
            border-top-left-radius: 15px;
          }
          &:last-of-type{
            border-bottom-left-radius: 15px;
          }

          span {
            height: auto;
          }
          a {
            line-height: 3;
            h2 {
              line-height: 5rem;
            }
          }
        }
      }

    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      position: relative;
      box-sizing: border-box;
      float: left;
      width: 140px;
      background-color: $main-color-light;
      text-align: center;
      cursor: pointer;
      
      &:hover{
        background-color: $main-color-dark;
      }
    }

    &.__js_isActive {
      li {
        top: 0;
      }
    }

    li span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      font-size: 1.6rem;

      img {
        float: left;
        max-height: 100%;
        display: block;
        margin: 0;
        margin-right: 8px;
      }
      a h2 {
        font-size: 24px;
        font-weight: 200;
        position: relative;
        letter-spacing: 1px;
        text-transform: lowercase;
        transition: all 0.2s ease;
        color: $color-white;
        font-family: $font-main;
        @include max-breakpoint(1000px){
          font-size: 16px;
        }
      }
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.__active{
         
          background: $main-color-dark;
        }
        &:hover  {
           h2 {
            color: $color-white;
          }
        }
      }
    }
  }
}
.header.scrolled {
  right: 0;
  opacity: 1;
  width: 100%;
  border-radius: 0;
  > .wrapper{    
    .header--nav{
      width: 100%;
      margin: 0 0 0 auto;
    }
  }
}

.header.hideNav{
  right: -100vw;
  transition: all 1500ms ease;

  @include max-breakpoint($point1){
    right: 0;
  }
}
.header--row {
  display: block;
  float: right;
  width: 35%;
  height: 0;
}
.header--logo {
  height: 100%;
  position: absolute;
  left: 5%;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include max-breakpoint($point0) {
    left: 10%;
  }
  img {   
    position: absolute;
    top: 0;
    z-index: 555;    
    @include max-breakpoint($point0){
      width: calc(100%/3*2);
      height: auto;
      top: 5px;      
    }
  }
}

.wp--logo {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: row;
  letter-spacing: .5px;
  background-color: $main-color;

  @include max-breakpoint($point1){
    height: fit-content;
    width: auto;
    top: -57px;
    right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @include max-breakpoint(370px){
    right: 110px;
  }

  span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $color-white;
    text-transform: capitalize;
    padding-bottom: 4px;
    margin-right: 20px;

    @include max-breakpoint(1000px){
      margin-right: 5px;
      font-size: 10px;
      line-height: 1.5rem;
    }
    @include max-breakpoint(370px){
      width: 50px;
      line-height: 1.2rem;
    }
  }

  img {
    display: flex;
    align-items: center;
    width: 67px;
    height: auto;
    object-fit: contain;
    position: relative;
    transition: all 220ms ease;
    margin-top: 0;

    @include max-breakpoint(1000px){
      width: 55px;
    }
    @include max-breakpoint($point1){
      width: 50px;
      right: 0;
    }
    @include max-breakpoint(370px){
      width: 40px;
    }
  }
}

.header--hamburger {
  position: absolute;
  width: 100px;
  background-color: $main-color-dark;
  height: 60px;
  box-sizing: border-box;
  z-index: 5;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  
  span {
    right: 0;
    width: 32px;
    height: 4px;
    background-color: $color-white;
    margin: 3px 0;
    border-radius: 5px;

  }
  @include max-breakpoint($point1) {
    display: flex;
    align-items: center;
  }
  @include max-breakpoint($point2) {
    margin-top: 0;
  }

  &.__js_isActive{
    span:nth-of-type(2) {
      display: none;
    }
    span:nth-of-type(1) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span:nth-of-type(3) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.logo--header{
  background-image: url("img/header-image/tiktac50.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 270px;
  width: calc(100% / 6 + 20px);
  height: calc(100% / 6 + 20px);
  z-index: 1;

  @include max-breakpoint($point1){
    background-image: url("img/header-image/tiktac50_mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 45%;
    z-index: 101;
    top: -20px;
    left: -20px;
    background-color: $main-color;
    border-bottom-right-radius: 150px;
    height: 115px;
    width: 170px;
    position: fixed;
  }

  @include max-breakpoint(400px){
    width: 140px;
    background-size: 45%;
    left: -25px;
    background-position: 48% 80%;
  }
}
