.section-projects{
    width: auto;
    height: fit-content;
    position: relative;
    background-color: $main-color-light;

    .projects{
        // height: 100%;
        width: 100%;
        padding: 2%;

        @include max-breakpoint($point1){
            padding: 5%;
        }

        h2{
            color: $color-white;
            font-family: $font-main;
            font-size: 44px;

            @include max-breakpoint($point3){
                font-size: 32px;
            }
        }

        &__list{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            &--item{
                position: relative;
                width: calc(33% - 20px);
                height: 20vw;
                border-radius: 20px;
                margin: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                transition: all 1s ease;

                @include max-breakpoint($point0 - 200){
                    width: calc(50% - 20px);
                    height: 25vw;
                }
                @include max-breakpoint($point1){
                    width: calc(100% - 20px);
                    height: 50vw;
                }

                &-photo{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(0.4);
                    opacity: 1;
                    transition: opacity 0.5s ease;

                    &:nth-child(odd){
                        background-color: $main-color-dark;
                    }
                    &:nth-child(even){
                        background-color: $main-color-light;
                    }                    
                }

                &-logo{
                    position: absolute;
                    opacity: 1;
                    width: 30%;
                    max-width: 5vw;
                    margin: 0 auto;
                    transition: opacity 0.5s ease;
                    top: 20px;
                    left: 20px;

                    img{
                        width: 100%;
                    }                    
                }

                &-title{
                    position: relative;
                    color: $color-white;
                    opacity: 1;
                    transition: opacity 0.5s ease;
                    width: 100%;
                    text-align: center;
                    font-size: 32px;
                    background-color: #000000cc;

                    @include max-breakpoint($point3){
                        font-size: 24px;
                    }
                }

                &-desc{
                    // z-index: 2;
                    position: absolute;
                    top: 0;
                    height: 80%;
                    width: 100%;
                    padding: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    color: $color-bg-light;
                    font-size: 16px;
                    flex-direction: column;

                    p{
                        width: 100%;
                    }
                }

                &-btn{
                    position: absolute;
                    bottom: 10%;
                    border: 1px solid $color-bg-light;;
                    color: $color-bg-light;
                    padding: 10px 15px;
                    opacity: 0;
                                        
                    &:hover{
                        background-color: $color-bg-light;
                        color: $color-gray;
                    }
                }

                &:hover{
                    .projects__list--item-photo{
                        opacity: 0.5;
                    }
                    .projects__list--item-logo{
                        opacity: 0;
                    }
                    .projects__list--item-title{
                        opacity: 0;
                    }
                    .projects__list--item-desc{
                        opacity: 1;
                    }
                    .projects__list--item-btn{
                        opacity: 1;
                    }
                }
            }
        }
    }
}