
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,400i,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');


//fonts
/* helvetica ultra compressed dla dekad? */
$font-main: 'Oswald', sans-serif; /*body*/
$font-article: 'Roboto', sans-serif;
$font-extra: 'Shadows Into Light Two', cursive;
$font-plus:'Amatic SC', cursive;

//variables
$main-color: #613965;
$main-color-dark: #4a204e;
$main-color-light: #5c445f;

//bg colors
$color-bg-dark: #2f374a;
$color-bg-light: #d5d1d0;
$bg-top-home: #6ec0d8;
$bg-bottom-home: #fe7f86;

$color-white: #fff;
$color-black: #000;
$color-gray: #333333;
$color-gray-light: #b5b5b5;

//punkty przełamania
$point0: 1200px;
$point1: 768px;
$point2: 640px;
$point3: 520px;
$point4: 320px;


//vars
$layoutWidth: 1200px;
$headerHeight: 65px;
$headerMobileHeight: 50px;

